<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="DBConn" value="Server=192.168.60.163;Initial Catalog=Netcast2Mp4;Persist Security Info=False;User ID=kawa;Password=Ka@stii.com.tw;" />-->
    <!--<add key="DBConn" value="o9YwEWbXhbDja138E1Wu0WdgRNGTiU7r/1E932ymXbwZlUcdBJnPrk4pPNRYnNb+wl7lYt0t4UbhKRIMwgUIJ/KbKuSwYbRFe5g95Q5BF0+NXRI686cw/SQ2Aq0iKTh8I/yCyJEoph3j430H0ezr85oCYEzXsAul2voMBfYK2J8=" />-->
    <add key="mailHost" value="smtp.gmail.com" />
    <add key="mailPort" value="587" />
    <add key="mailToken" value="qtOEe2S7MuiwcbFkqvKl+Q==" />
    <add key="mailSender" value="K+whRT81mxh08EpNSKSFlLDVJACu8cw1PR3aex3nEpY=" />
    <add key="mailSenderName" value="Raycast客服" />
    <add key="mailSendDelayMS" value="1000" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--<add name="Netcast2Mp4Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.60.163;initial catalog=Netcast2Mp4;persist security info=True;user id=kawa;password=Ka@stii.com.tw;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
    <add name="Netcast2Mp4Entities" connectionString="7ck083klG+USr6I3MN6igP0asorIOq5WVwGYch6dOd1xWjbzk+F1kLon/13WN7Si6jwYQhr7I073FwqZbrJd6O1cgKoIeOblDw2PqcRTWT1tUEHf5uZZD6IJYt2jBI2lx6FJtcGwd7RfP3KEFIBHrolPUlKXF18Zlwt7rrisUTiUmei6n6H/LEH+z/1CduTualpjpBnrrR9J8GgUN+inFerG7x1S1kAhft53XL3yBb0XDTQ/TAgccx2t4z+hHH38TO+zLQBr6wGMHt0bi8ucs8eDdvA0hI15WtCMt+QcMQcZ6VS6yttk3Qw4moLrVAYblyAFSr7ynsMtKMRuPKIo9XadxzsQ6ec2E3Eu+LPL0++7YWLQR6EA82I42OvgaIBa6o7mxzpXcjVQRLh+xZR8qg==" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>