<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="DBConn" value="Server=192.168.60.163;Initial Catalog=Netcast2Mp4;Persist Security Info=False;User ID=kawa;Password=Ka@stii.com.tw;" />-->
    <!--<add key="DBConn" value="o9YwEWbXhbDja138E1Wu0WdgRNGTiU7r/1E932ymXbwZlUcdBJnPrk4pPNRYnNb+wl7lYt0t4UbhKRIMwgUIJ/KbKuSwYbRFe5g95Q5BF0+NXRI686cw/SQ2Aq0iKTh8I/yCyJEoph3j430H0ezr85oCYEzXsAul2voMBfYK2J8=" />-->
    <add key="UserDataDrive" value="D" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--<add name="Netcast2Mp4Entities" connectionString="metadata=res://*/Netcast2Mp4Context.csdl|res://*/Netcast2Mp4Context.ssdl|res://*/Netcast2Mp4Context.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.60.163;initial catalog=Netcast2Mp4;persist security info=True;user id=kawa;password=Ka@stii.com.tw;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Netcast2Mp4Entities" connectionString="7ck083klG+USr6I3MN6igC6PJMyme1WKooYGPB9RFnoi32oXR/8ZBLSnOqktE8Bd0ahGQ64tdg4xC5/tXHqowuGewxiIxJ/96eHlTRD3D5ZgUYZigLqgcZNSaIgcI2mOayRBB/Ws0vT0sE+a76A43lJM3AP+j2K2AD1uDNOKRNAFCoWqoKh/9UIYrLYiclzK6VIpPdecgk7QvQ/6Y9QQGG/rkxvj4WVBE7l+mIhN1XchBBvuAISUpHEcvwBfMvTzx6Myihf2oXbbYHRfA3zSolq5sQoNvaOhoejT7KBe8mgeAbbWI7if93ytf5iIlA+u50NvNYLe0WoKyPCMni2iAAkL+cklaU9hMzv0Vyj5XQcheyw5+jzaZcz2lbttMU8eQvJyyooLmhDX1LcWxseN9n/T9l0kdAkfuRJ0PPyTC6Q0XT8DaN5j+ljX81pwA/7w" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>