<ul class="navbar-nav flex-grow-1">
    @*<li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">隱私權</a>
    </li>*@
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Flims" asp-action="Index">影片列表</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Converter" asp-action="Index">轉檔</a>
        </li>
    }
</ul>

<ul class="navbar-nav ml-auto">
    @if (User.Identity.IsAuthenticated)
    {
        string email = User?.Claims?.FirstOrDefault(x => x.Type.Equals("Account", StringComparison.OrdinalIgnoreCase))?.Value;
        string id = User?.Claims?.FirstOrDefault(x => x.Type.Equals("UserId", StringComparison.OrdinalIgnoreCase))?.Value;
        string account = email.Split('@')[0];

        <li class="nav-item">
            <span class="nav-link text-dark" title="Account">Hello @(account)!&nbsp;</span>
        </li>
        <li class="nav-item dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-controller="Users" asp-action="ChangePwd" asp-route-id="@id" title="Change Password">
                    變更密碼
                </a>
                <a class="dropdown-item" asp-controller="Login" asp-action="Logout" title="Logout">
                    登出
                </a>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a asp-controller="Login" asp-action="Reg" class="nav-link text-dark">註冊</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Login" asp-action="Index" class="nav-link text-dark">登入</a>
        </li>
    }
</ul>